<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Atulya</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'static/plugins/themify-icons/themify-icons.css' %} ">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'static/plugins/slick/slick.css' %} ">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{% static 'static/plugins/Venobox/venobox.css' %} ">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'static/plugins/aos/aos.css%' %}">

  <!-- Main Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

</head>

<body>
 {% load static %}

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#feature">Feature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service.html">Service</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <a href="{% url 'accounts:register' %}" class="btn btn-primary ml-lg-3 primary-shadow">Register/Login</a>
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image:url('{% static 'images/hero-area/banner-bg.png'%}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
        <h1 class="mb-3">Harnessing Handy Technologies</h1>
          <h2 class="mb-3">To Connect Supply Chain Partners</h2>
        <p class="mb-4">Buying & selling on Atulya enables<br>
          automatic updation Of inventory & ledger.</p>
        <a href="service.html" class="btn btn-secondary btn-lg">explore us</a>
        <!-- banner image -->
        <img class="img-fluid w-100 banner-image" src="{% static 'images/hero-area/banner-img.png' %}" alt="banner-img">
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="{% static 'images/background-shape/seo-half-cycle.png' %}" alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="{% static 'images/background-shape/green-dot.png' %}" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="{% static 'images/background-shape/blue-half-cycle.png' %}" alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="{% static 'images/background-shape/yellow-triangle.png' %}" alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="{% static 'images/background-shape/service-half-cycle.png' %}" alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="{% static 'images/background-shape/team-bg-triangle.png' %}" alt="">
  </div>
</section>
<!-- /hero-area -->

<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Amazing Features</h2>
        <p class="mb-100">Atulya has introduced you some incredible tools to help you take your business online.</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Dynamic Inventory</h4>
            <p>Automatically Inventory management without <br>any complications.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Order Management</h4>
            <p>Manage orders hassle-free with smooth <br> operations in real time.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-harddrives feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Automatic Ledger</h4>
            <p>Embedded into your dashboard which will <br>keep records for all the transactions.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-bar-chart-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Realtime Analytics</h4>
            <p>We added Analytics for you to monitor sales <br> xand profit in real realtime.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation" src="{% static 'images/background-shape/feature-bg-1.png' %}" alt="bg-shape">
  <img class="feature-bg-2 left-right-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="bg-shape">
</section>
<!-- /feature -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="{% static 'images/marketing/marketing.png' %}" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">A Complete Range Of E-Commerce</h2>
        <p>The world is changing in every fraction of a second,
          and we have incredibly futuristic services for our
          clients as a result. Atulya is unique in that it
          offers a wide range of services. Dynamic inventory
          and ledger with real-time statistics to visualize
          your performance, as well as capabilities to connect
          you to your customers.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="{% static 'images/backgrounds/seo-bg.png' %}" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="{% static 'images/background-shape/seo-half-cycle.png' %}" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="{% static 'images/background-shape/seo-ball-2.png' %}" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Powerful App to Stand Out</h2>
        <p class="mb-4">This application is developed after seeing
          each and every problem of Indian Retailers and Wholesalers,
          from which you are dealing and all those includes Billing,
          Inventory, Online orders, GST, and more.<br>
          We are dealing with all at once.</p>
        <ul class="pl-0 service-list">
          <li><i class="ti-layout-tab-window text-purple"></i>Responsive on any device</li>
          <li><i class="ti-layout-placeholder text-purple"></i>Easy to operate</li>
          <li><i class="ti-support text-purple"></i>Effective support</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="{% static 'images/service/service.png' %}" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="{% static 'images/backgrounds/service-bg.png' %}" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="{% static 'images/background-shape/service-half-cycle.png' %}" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="background-shape">
</section>
<!-- /service -->



<!-- Line Break to offer space to newsletter-->
<br> <br> <br> 
<!-- /Line Break to offer space to newsletter-->


<!-- newsletter -->
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Subscribe to our newsletter</h2>
        <p class="mb-5">Receive updates, news and deals</p>
      </div>
      <div class="col-lg-8 col-sm-10 col-12 mx-auto">
        <form action="#">
          <div class="input-wrapper position-relative">
            <input type="email" class="newsletter-form" id="newsletter" placeholder="Enter your email">
            <button type="submit" value="send" class="btn newsletter-btn">subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="newsletter-bg-shape left-right-animation" src="{% static 'images/background-shape/seo-ball-2.png' %} " alt="background-shape">
</section>
<!-- /newsletter -->

<!-- footer -->
<footer class="footer-section footer" style="background-image: url('{% static 'images/backgrounds/footer-bg.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="index.html">
          <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="logo">
        </a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="index.html">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#feature">Feature</a></li>
          <li class="list-inline-item"><a href="about.html">About</a></li>
          
          <li class="list-inline-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="instagram" href="https://instagram.com/bizupreach"><i class="ti-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="https://twitter.com/bizupreach"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="https://www.linkedin.com/showcase/76116820"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="mailto:atulyaoff@gmail.com"><i class="ti-email"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'plugins/Venobox/venobox.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'plugins/aos/aos.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
