<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <form action='{% url 'accounts:login' %}' method="POST">
        {% csrf_token %}
        <label for="login_email">Enter Email</label>
        <input type="email" name="login_email" id="login_email">
        <label for="Login_password">Enter Password</label>
        <input type="password" name="login_password" id="Login_password">
        <input type="submit" value="Login">
    </form>
</body>
</html>